body {
  margin: 0;
  background-color: #222222;
  font-family: sans-serif;
  display: flex;
  height: 100vh;
}

* {
  box-sizing: border-box;
}

.btn {
  padding: 15px 60px;
  display: inline-block;
  color: orange;
  border: 2px solid orange;
  margin: auto;
  text-decoration: none;
  font-size: 20px;
  position: relative;
  transition: color 0.8s ease;
}

.btn::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: orange;
  width: 0;
  transition: all 0.8s ease;
  z-index: -1;
}

.btn:hover::before {
  width: 100%;
  left: 0;
  right: auto;
}

.btn:hover {
  color: black;
}
